RewriteEngine On
RewriteBase /base_system/

<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>

RewriteRule ^(css|js|images|fonts|datas|uploads|plugins)/(.*)$ assets/default/$1/$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(admin)(.*)$ admin.php?/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(api)(.*)$ ws_api.php?/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
